.mainContainer {
  background-color: rgb(116, 116, 243);
  border-radius: 20px;
  width: 70%;


}

.distribute {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;

}

.box {
  width: 170px;
  height: 150px;
  border: none;
  border-radius: 30px;
  padding: 2px;
  margin: 20px;
  background-color: lightblue;

}