.Header {
  display: flex;
  justify-content: space-around;
}

.nav {
  display: grid;
  align-items: center;
  width: 80%;
  float: left;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}


li {
  display: flex;

}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 70px;
  width: 70px;
  margin: 5px, 0px;
  background-color: red;
}