.hamburger {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 310px;
}

.sidebar {
  display: block;
}

@media (max-width: 762px) {
  .sidebar {
    display: none;
    position: absolute;
    top: 300;
    left: 0;
    height: auto;
    border-radius: 20px;
    background-color: #f0f0f0;
    z-index: 999;
  }



  .hamburger {
    display: block;
  }


}