@media (max-width: 762px) {

  .parent {
    position: relative;
  }

  .sidebar {
    display: none;
    position: absolute;
  }

  /* .hamburger {
    background-color: rgba(300, 300, 300, 0.7);
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 300px;
  } */


}